@charset "utf-8";

body {
	line-height: 1.4;
	width: 1350px;
	margin: 0 auto;
  background-color: black;
}

header p {
  color: White;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

section {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5rem;
  background-image: url(images/back22.jpg);
  background-size: cover;
  font-weight: bold;
}

section article {
	border: 1px solid black;
	box-shadow: 0 2px 14px grey;
	padding: 2.5%;
	width: 30%
}

article img {
	display: block;
	height: 200px;
	width: 200px;
}

section p {
  margin: 5px 0;
}

section ul {
  margin-top: 0;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

#map {
        height: 400px;
        width: 70%; 
       }
